## Tarea - Tema 5 - Data Frame
1. Indica cuantos estudiantes formaron parte del estudio de deporte

2. Indica cuantos individuos son hombres y cuantos son mujeres

3. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio y compara el valor de los que hacen ejercicio habitualmente y los que no. ¿Observas mucha diferencia?

4. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio  para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las mujeres. ¿Observas mucha diferencia?

5. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los fumadores con los no fumadores. ¿Observas mucha diferencia?

6. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio de todos los estudiantes según el tipo de actividad física que realizan. ¿Observas alguna diferencia?

In [4]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv("/Users/User/Documents/Curso ML Python/GitHub/r-basic/data/run.csv", delimiter=";",decimal=".", encoding="utf-8" )

In [22]:
df.head()

,Key,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
0,1,48,54,no,si,H,68.0,150,nula
1,2,54,56,no,si,H,69.0,145,moderada
2,3,54,50,no,no,H,69.0,160,moderada
3,4,58,70,si,no,H,72.0,145,moderada
4,5,58,58,no,no,H,66.0,135,intensa

1. Indica cuantos estudiantes formaron parte del estudio de deporte

In [29]:
df.shape[0]

92

2. Indica cuantos individuos son hombres y cuantos son mujeres

In [42]:
df_genero=df.groupby('genero').aggregate({
    'genero': 'count'
})
df_genero

        genero
genero
H           57
M           35

3. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio y compara el valor de los que hacen ejercicio habitualmente y los que no. ¿Observas mucha diferencia?

Si se observa mucha diferencia en el pulso despues de hacer ejercicio

In [43]:
df_hd=df.groupby('hace.deporte').aggregate({
    'pulso.antes': 'mean',
    'pulso.despues': 'mean'
})
df_hd

              pulso.antes  pulso.despues
hace.deporte
no              72.421053      72.315789
si              73.600000      92.514286

4. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio  para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las mujeres. ¿Observas mucha diferencia?

Si, el pulso de los Hombres despues de hacer ejercicio es mucho más alto que el de las mujeres

In [52]:
df_hdg = df[df['hace.deporte']=='si']
df_hdg1=df_hdg.groupby('genero').aggregate({
    'pulso.antes': 'mean',
    'pulso.despues': 'mean'
})
df_hdg1

        pulso.antes  pulso.despues
genero
H         70.250000      83.208333
M         80.909091     112.818182

5. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los fumadores con los no fumadores. ¿Observas mucha diferencia?

No hay gran diferencia

In [53]:
df_nhdg = df[df['hace.deporte']=='no']
df_nhdg2=df_nhdg.groupby('fuma').aggregate({
    'pulso.antes': 'mean',
    'pulso.despues': 'mean'
})
df_nhdg2

      pulso.antes  pulso.despues
fuma
no      71.707317      71.512195
si      74.250000      74.375000

6. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio de todos los estudiantes según el tipo de actividad física que realizan. ¿Observas alguna diferencia?

Los de actividad nula el pulso es demasiodo bajo, los de actividad moderada se sube el pulso entre antes y despues considerablemente.

In [54]:
df_act1=df.groupby('tipo.actividad').aggregate({
    'pulso.antes': 'mean',
    'pulso.despues': 'mean'
})
df_act1

                pulso.antes  pulso.despues
tipo.actividad
intensa           71.571429      72.190476
moderada          72.737705      82.786885
nula              48.000000      54.000000
suave             79.555556      82.222222

In [55]:
df.groupby('genero').count().peso

genero
H    57
M    35
Name: peso, dtype: int64