# Listas
Son contenedores que permiten almacenar una coleccion de objetos en un orden determinado. Se pueden acceder, añadir, o eliminar objetos de forma sencilla

In [13]:
L1 = [] # Lista vacia

In [14]:
L2 = ['a','e','i','o','u'] # lista de valores iniciales

In [15]:
L3 = [2,3,5,7,11] # lista con valores enteros

In [16]:
L4 = ['a',5,True,"Carlos Alberto"]
L4

['a', 5, True, 'Carlos Alberto']

In [17]:
L5 = [0]*10
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [18]:
L4[0] # las listas en python empiezan en la posicion 0

'a'

In [19]:
L4[1]

5

In [20]:
L4[0:2] # acceso de posiciones multiples (incluye la primera pero no la última)

['a', 5]

In [21]:
L5[4]=3.1415 # Modificacion de valores
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [22]:
L5.append(8)
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0, 8]

In [23]:
L5.remove(0) # Elimina la primera ocurrencia del objeto 0 de la lista L5

In [24]:
L5

[0, 0, 0, 3.1415, 0, 0, 0, 0, 0, 8]

In [25]:
L5.reverse()

In [26]:
L5

[8, 0, 0, 0, 0, 0, 3.1415, 0, 0, 0]

In [27]:
L5.index(8)

0

In [28]:
len(L5)

10

In [29]:
L = [1,2,3,4,5,6]

In [30]:
L[1::2] # desde la posicion 1 en adelante (1:) de 2 en 2(:2)

[2, 4, 6]

In [31]:
L[::2] # desde la posicion 0 en adelante (:) de 2 en 2(:2)

[1, 3, 5]

In [32]:
L[:]

[1, 2, 3, 4, 5, 6]

In [53]:
#Crea una lista por el separador de espacio 
"Hola que tal como estas".split(" ")

['Hola', 'que', 'tal', 'como', 'estas']

In [54]:
#Crea una lista por el separador de comas
"4,6,2,7,9,4,2".split(",")

['4', '6', '2', '7', '9', '4', '2']

# Bucles

Los bucles **for** iteran sobre una coleccion (una lista, un string, un objeto iterable)

In [33]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [34]:
numero

6

In [35]:
for x in range(0,10): # range(10) = (0,10)
    print(x)

0
1
2
3
4
5
6
7
8
9

In [36]:
for c in "Carlos Alberto Cadena Silva":
    print(c)

C
a
r
l
o
s

A
l
b
e
r
t
o

C
a
d
e
n
a

S
i
l
v
a

In [37]:
# Calcula la media Aritmetica 
notas = [3.5,6.7,8,9,4.5]
suma=0
for nota in notas:
    suma = suma + nota
print(suma/len(notas))

6.34

El bucle **while** se repite hasta que la condicion booleana deja de ser cierta

In [38]:
count = 0
while count < 10:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9

In [39]:
# Así puedo tener la posicion de la lista y el valor
primos = [2,3,5,7,11,13,17,19,23,29]
for idx, p in enumerate(primos):
    print(idx,p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [40]:
# otra manera
primos = [2,3,5,7,11,13,17,19,23,29]
for idx in range(len(primos)):
    print(idx,primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

# Tuplas
Una tupla es una coleccion de objetos que no puede modificarse (Tiene tamaño y contenido fijo

In [41]:
p1 = ()
p1

()

In [42]:
p1 = (1,2,3,4)
p1

(1, 2, 3, 4)

In [43]:
p3 = (1,2,'c',3.1415)
p3

(1, 2, 'c', 3.1415)

In [44]:
p3[0:2]

(1, 2)

In [45]:
a,b,c,d = p3

In [46]:
a

1

In [47]:
b

2

In [48]:
c

'c'

In [49]:
d

3.1415

In [51]:
l3 = list(p3)
l3

[1, 2, 'c', 3.1415]

In [52]:
p5 = tuple(L5)
p5

(8, 0, 0, 0, 0, 0, 3.1415, 0, 0, 0)

In [55]:
numeros = input("Escriba números separados por comas")
numL = numeros.split(",")
print(numL)
numT = tuple(numL)
print(numT)

Escriba números separados por comas1,2,3,4,5,6,7,8,9,0
['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
('1', '2', '3', '4', '5', '6', '7', '8', '9', '0')

In [57]:
suma = 0
for n in numT:
    suma += int(n)
print(suma/len(numT))

4.5

# Diccionarios
Un diccionario es una coleccion no ordenada de pares de valores: claves <-> valores. Se indexa no por posicion, si nno utilizando las claves

In [60]:
nombre = input("Introduce el nombre")
print("Hola %s"%nombre)

Introduce el nombreCarlos Alberto
Hola Carlos Alberto

In [61]:
print("Esto es un numero: %d"%suma)

Esto es un numero: 45

In [69]:
media=suma/len(numT)
print("Esto es un numero decimal: %.2f"%media)

Esto es un numero decimal: 4.50

In [71]:
edad ={
       "Juan Gabriel":30,
       "Maria":20,
       "Cabeto":54}
edad

{'Juan Gabriel': 30, 'Maria': 20, 'Cabeto': 54}

In [72]:
edad["Cabeto"]

54

In [74]:
edad.keys()

dict_keys(['Juan Gabriel', 'Maria', 'Cabeto'])

In [75]:
edad.values()

dict_values([30, 20, 54])

In [76]:
len(edad)

3

In [77]:
"Maria" in edad

True

In [78]:
"Mario" not in edad

True

In [79]:
del edad["Maria"]

In [80]:
edad

{'Juan Gabriel': 30, 'Cabeto': 54}

In [81]:
notas = {
    "Al1":3,
    "Al2":4.5,
    "Al3":3.8,
    "Al4":False
}
notas

{'Al1': 3, 'Al2': 4.5, 'Al3': 3.8, 'Al4': False}